<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment/>
<entry key="tags3">d</entry>
<entry key="tags2"/>
<entry key="tags1"/>
<entry key="Y">-8</entry>
<entry key="tags0">java</entry>
<entry key="X">-8</entry>
<entry key="SortKey">DESCENDING</entry>
<entry key="WindowStatus">6</entry>
<entry key="refresh0">false</entry>
<entry key="SortIndex">8</entry>
<entry key="Height">1176</entry>
<entry key="excerpts0">true</entry>
<entry key="siteUrls3">false</entry>
<entry key="siteUrls2">true</entry>
<entry key="siteUrls1">true</entry>
<entry key="page0">1</entry>
<entry key="siteUrls0">true</entry>
<entry key="Width">1936</entry>
<entry key="merge0">true</entry>
</properties>
