<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment/>
<entry key="P1-Column13">354</entry>
<entry key="P0-siteUrls3">false</entry>
<entry key="P1-Column12">98</entry>
<entry key="P0-siteUrls2">false</entry>
<entry key="P1-Column11">40</entry>
<entry key="P0-siteUrls1">false</entry>
<entry key="P1-Column10">95</entry>
<entry key="P0-siteUrls0">true</entry>
<entry key="P1-merge0">true</entry>
<entry key="Y">281</entry>
<entry key="X">388</entry>
<entry key="PanelCount">2</entry>
<entry key="WindowStatus">0</entry>
<entry key="P1-page0">1</entry>
<entry key="P0-page0">1</entry>
<entry key="P0-refresh0">false</entry>
<entry key="P0-Column9">43</entry>
<entry key="P0-Column8">76</entry>
<entry key="P0-Column7">585</entry>
<entry key="P1-siteUrls3">false</entry>
<entry key="P0-Column6">43</entry>
<entry key="P1-siteUrls2">false</entry>
<entry key="P0-Column5">58</entry>
<entry key="P1-siteUrls1">true</entry>
<entry key="P0-Column4">41</entry>
<entry key="P1-siteUrls0">false</entry>
<entry key="P0-Column3">46</entry>
<entry key="P0-Column2">21</entry>
<entry key="P0-Column1">25</entry>
<entry key="P0-Column0">28</entry>
<entry key="P0-excerpts0">true</entry>
<entry key="Height">598</entry>
<entry key="P1-refresh0">false</entry>
<entry key="P1-tags3"/>
<entry key="P1-tags2"/>
<entry key="P0-tags3"/>
<entry key="P1-tags1"/>
<entry key="P0-tags2"/>
<entry key="P1-tags0"/>
<entry key="P0-tags1"/>
<entry key="P0-tags0">java</entry>
<entry key="Width">1145</entry>
<entry key="P0-Column13">335</entry>
<entry key="P0-Column12">102</entry>
<entry key="P0-Column11">47</entry>
<entry key="P1-Column9">43</entry>
<entry key="P0-Column10">124</entry>
<entry key="P1-Column8">76</entry>
<entry key="P1-Column7">668</entry>
<entry key="P1-Column6">43</entry>
<entry key="P1-Column5">58</entry>
<entry key="P1-Column4">41</entry>
<entry key="P1-Column3">46</entry>
<entry key="P1-Column2">21</entry>
<entry key="P1-Column1">25</entry>
<entry key="P1-Column0">28</entry>
<entry key="P1-excerpts0">true</entry>
<entry key="P0-merge0">true</entry>
</properties>
