<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment/>
<entry key="P0-siteUrls3">false</entry>
<entry key="P0-siteUrls2">false</entry>
<entry key="P0-IgnoreCount">0</entry>
<entry key="P0-siteUrls1">true</entry>
<entry key="P0-siteUrls0">true</entry>
<entry key="Y">-4</entry>
<entry key="X">-4</entry>
<entry key="PanelCount">1</entry>
<entry key="WindowStatus">6</entry>
<entry key="P0-page0">1</entry>
<entry key="P0-refresh0">true</entry>
<entry key="P0-Column9">43</entry>
<entry key="P0-Column8">76</entry>
<entry key="P0-Column7">606</entry>
<entry key="P0-Column6">35</entry>
<entry key="P0-Column5">36</entry>
<entry key="P0-Column4">29</entry>
<entry key="P0-Column3">46</entry>
<entry key="P0-Column2">21</entry>
<entry key="P0-Column1">25</entry>
<entry key="P0-Column0">20</entry>
<entry key="P0-excerpts0">true</entry>
<entry key="Height">748</entry>
<entry key="P0-SortKey">DESCENDING</entry>
<entry key="P0-tags3"/>
<entry key="P0-tags2"/>
<entry key="P0-tags1"/>
<entry key="P0-tags0">java</entry>
<entry key="Width">1032</entry>
<entry key="IgnoreCount">0</entry>
<entry key="P0-Column13">201</entry>
<entry key="P0-Column12">102</entry>
<entry key="P0-Column11">47</entry>
<entry key="P0-Column10">124</entry>
<entry key="P0-merge0">true</entry>
<entry key="P0-Title">Stackoverflow+Java</entry>
<entry key="P0-SortIndex">8</entry>
</properties>
