<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment/>
<entry key="Column2">15</entry>
<entry key="Column1">19</entry>
<entry key="Column0">24</entry>
<entry key="tags3"/>
<entry key="tags2"/>
<entry key="tags1"/>
<entry key="Y">297</entry>
<entry key="tags0"/>
<entry key="X">390</entry>
<entry key="SortKey">DESCENDING</entry>
<entry key="WindowStatus">0</entry>
<entry key="refresh0">true</entry>
<entry key="SortIndex">8</entry>
<entry key="Height">823</entry>
<entry key="excerpts0">true</entry>
<entry key="siteUrls3">false</entry>
<entry key="Column9">39</entry>
<entry key="siteUrls2">true</entry>
<entry key="Column8">71</entry>
<entry key="siteUrls1">true</entry>
<entry key="page0">1</entry>
<entry key="Column13">399</entry>
<entry key="Column7">614</entry>
<entry key="siteUrls0">true</entry>
<entry key="Width">1140</entry>
<entry key="Column12">98</entry>
<entry key="Column6">31</entry>
<entry key="Column11">47</entry>
<entry key="Column5">32</entry>
<entry key="Column10">96</entry>
<entry key="Column4">28</entry>
<entry key="Column3">31</entry>
<entry key="merge0">true</entry>
</properties>
